
  // rem = 16px use for font sizes
  // em = 16px use for margin & padding


  // ALE, ES MOBILE FIRST, LEÍ QUE ES MEJOR EMPEZAR ASÍ //

  
body {
  margin: 1.5em;
  font-family: poppins, sans-serif;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/grapes-1.jpg');
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  // overflow: hidden;
  animation: introLoad 2s forwards;
}

.logo {
  width: 50px;
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
    a {
      color: black;
      padding: .75em 2em;
      display: block;

      &:hover {
        background: rgb(235, 235, 235);
      }
    }
  }
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: flex;
  justify-content: space-between;

  svg {
    width: 2.3em;
    margin-top: -.6em;
    cursor: pointer;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: white;
  height: 35vh;
  margin-top: 17em;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;

    .down-arrow {
      stroke: white;
      position: absolute;
      width: 1em;
      margin-top: 30px;

      path {
        fill: white;
      }
    }
}

.more-info {
  margin-top: 300px;
  margin-bottom: 5em;
  img {
    width: 100%;
    object-fit: cover;
    height: 15em;
  }

  .title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .desc {
    line-height: 1.5rem;   
  }
}

.open-nav {
  transform: translateX(0%);
}


//NOSOTROS
.testimonials-section {
  background: var(--primary-color);
  color: rgb(54, 54, 54);

    li {
      background: #e4e4e4;
      text-align: center;
      padding: 2em 1em;
      width: 80%;
      margin: 0 auto 5em auto;
      border-radius: 1em;
      list-style: none;

      img {
        width: 5em;
        height: 5em;
        border: 5px solid #e4e4e4;
        border-radius: 50%;
        margin-top: -4.5em;
      }
    }
  
}

// CONTACT INFO // 

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

.send-message-cta {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  border: solid 1px;
  margin-bottom: 5em;
  border-radius: .2em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  transition: .2s;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: black;
  }
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}




// MEDIA QUERYS
// CELULAR

@media only screen and (min-width: 680px) {

  body {
    margin: 1.5em 5em;
    font-family: poppins, sans-serif;
  }

}


// TABLET

@media only screen and (min-width: 920px) {

  .menu {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

    svg.close {
      display: none;
    }

    ul {
      display: flex;
      margin: 0%;

      a {
        color: white;
        padding: .5em 1.5em;
        font-size: .9rem;

        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  .logo {
    color: black;

    span {
      color: red;
    }
  }

  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;

    svg.down-arrow {
      stroke: black;
      position: unset;

      path {
        fill: black;
      }
    }
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;

     img {
       width: 25em;
     }

     .content {
       text-align: right;
       width: 25em;
     }
  }

  .feature.left {
    grid-template-areas: 
      "left right";

    img {
      grid-area: left;
    }
    .content {
      text-align: left;
      width: 25em;
      justify-self: left;
    }
  }
  .testimonials-section ul {
    display: flex;
      li {
        margin: 0 1em;
      }
  }
}




// FULL SCREEN SIZE

@media only screen and (min-width: 1200px) {
  .header-top {
    .logo {
      margin-top: .3em;
      opacity: .7;
      transition: .1s;
      &:hover {
        opacity: 1;
      }
    }
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(254, 254, 254,);
    opacity: 1;
    top: 0px;
    align-items: center;
    box-shadow: 2px 2px 10px 3px rgba(129, 129, 129, 0.2);
    padding: .2em;
    justify-content: space-around;
    z-index: 999;
    
    a{
      color: rgb(153, 153, 153);
      transition: .2s;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
  .container {
    width: 1200px;
    margin: 0 auto
  }
  .feature {
    gap: 0;
    margin: 2em;

    img {
      border-radius: 4px;
    }
  }

  .more-info {
    margin-top: -1em;
  }
  
  .contact-section {
    position: relative;
    margin-top: 8em;

    .container {
      display: flex;
    }
  }

  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;

    iframe {
      height: 100%;
    }
} }


// ANIMATION - BURGUER ICON & DOWN ARROW

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);;
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
